numpy
pandas
pyyaml
requests
chevron
sqlalchemy
psycopg2-binary
websocket-client
statsmodels
scikit-learn
tabulate
pytz
progressbar2
matplotlib
pandasql
git+https://github.com/TechnoPunter/TechnoPunter-Commons.git

plotly~=5.9.0
ta~=0.11.0
backtesting~=0.3.3